<div class="content">
    <section class="content-current">

        <div class="assess-wizard wizard clearfix vertical">
           <!-- Assess Nav Section -->
           <scf-assess-nav capabilities="$ctrl.tabsCapabilityList"></scf-assess-nav>
            <!-- Assess Questions Section -->
            <scf-assess-question></scf-assess-question>
            <div class="actions clearfix">
                <ul>
                    <li aria-disabled="true" class="disabled"><a href="#previous" role="menuitem">Previous</a></li>
                    <li aria-disabled="false" aria-hidden="false"><a href="#next" role="menuitem">Next</a></li>
                    <li aria-hidden="true" style="display: none;"><a href="#finish" role="menuitem">Finish</a></li>
                </ul>
            </div>
        </div>
    </section>
</div>