<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

    <div class="col-md-1 col-sm-1 col-xs-2 col-lg-1">
        <div class="assess-wizard-logo"></div>
    </div>
    <h3>Builds Relationships</h3>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 questionouter">
        <div class="questiontbl">
            <div class="bottomstyle questions-title">
                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                    Questions
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-8">Low to High </div>
                        <div class="col-md-4">N/A</div>
                    </div>
                </div>
                <div class="clearer"></div>
            </div>

            <div class="bottomstyle">
                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                    <span class="numbers">1</span> 
                    I feel I am able to generate rapport with my key customer personnel
                </div>

                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" />
                        </div>
                        <div class="col-md-4 radiobuttonstyle">
                            <input id="radio01" name="radio01" type="radio">
                            <label for="radio01"><span></span>n/a</label>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<!--<div class="quest-wrapper">

    <h3 data-ng-bind="quest.capabilityName"></h3>

    <ul>
        <li data-ng-repeat="question in quest.questionsList track by $index">
            <span data-ng-bind="question.question"></span>
        </li>
    </ul>

</div>-->