<div class="prioritize-wrapper">
    <div id="tabs" class="tabs">
        <nav>

            <!-- <ul>
        <li data-ng-repeat="item in $ctrl.disciplinesList track by $index">
            <a>
                <span data-ng-bind="item.discipline"></span>
            </a>
        </li>
    </ul> -->
            <ul>
                <li>
                    <a href="#">
                        <span>Provoke</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>prioritize</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Seek to Understand</span>
                    </a>
                </li>
            </ul>
        </nav>


        <div class="assess-content-main">
            <section class="content-current">
                <div class="assess-wizard wizard clearfix vertical">
                    <div class="content clearfix">
                        <div class="row body current">
                            <div class="col-md-12">
                                <div class="col-md-1 col-sm-1 col-xs-1 col-lg-1 prioritize-wizard-logo-outer">
                                    <div class="assess-wizard-logo"></div>
                                </div>
                                <h3>Provoke</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>