$bg-colour: #e0e0e0;
$footer-bg-color: #e0e0e0;
$font-name:$scf-font-family-base;
$text-color: #fff;
$content-bg-color:#fff;
$radius:6px;
$fonts-size:14px;
$align:center;
$wizard-logo:"../images/assess/build-icon.png";
$bg-image:"../images/assess/arrow.png";
$bg-image1:"../images/assess/arrow.active.png";
$bg-image2:"../images/assess/tick.png";
$bg-image3:"../images/assess/error.png";
$bg-colors: #dddddd;
$bg-colors1:#7eb561;

$menu-bg-selected:#1dade6;

//menu image settings
$menu-image1: "../images/assess/icon1.png"; 
$menu-image2: "../images/assess/icon2.png";  
$menu-image3: "../images/assess/icon3.png"; 
$menu-image4: "../images/assess/icon4.png"; 
$menu-image5: "../images/assess/icon5.png";  

$menu-images: $menu-image1, $menu-image2, $menu-image3, $menu-image4, $menu-image5;